<!DOCTYPE html>
<html lang="en">
<head>
        <title>Event Results</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        <!-- Stylesheets -->
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<script>
var app = angular.module("bookMySport", []);
app.controller("checkoutController", function($scope,$http) {
    $scope.initCheckoutPage = function(){
          $scope.booking ={event:1,noOfAdults:4,noOfChildren:5,typeOfSeat:'VIP'};
          // $scope.cardMonth="";
          // $scope.cardCvv="";
          // $scope.cardYear="";
          // $scope.cardNumber="";
    };
    // END of init function
    $scope.pay = async function(){
        if($scope.cardNumber && $scope.cardMonth && $scope.cardYear && $scope.cardCvv && $scope.cardMonth<13 && $scope.cardMonth>0 && $scope.cardYear< 35 && $scope.cardYear>17 && $scope.cardCvv >=1 && $scope.cardCvv.length<=9999){
            if(JSON.stringify($scope.cardNumber).length==16){
                alert("Okay");
            }
            else
                alert("Invalid card number");
        }else if($scope.cardNumber){
            if(JSON.stringify($scope.cardNumber).length==10){
                alert("Okay");
            }
            else
                alert("Invalid Account Details");
        }
        else{
            alert("Please enter proper card details");
        }
    };
});
</script>

<div class="row c_cloud_div" ng-app="bookMySport" ng-controller="checkoutController" ng-init="initCheckoutPage()">

    <div class = "col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12  c_concrete_div">
            <h4>Your Ticket Details</h4>                    
        </div>
    <div>
        <!-- <div class="row c_mazarine_div" >
            <h5 class="col-sm-3">Event : {{booking.event}}</h5>
            <h5 class="col-sm-3" ng-if="booking.noOfAdults">Adults : {{booking.noOfAdults}}</h5>
            <h5 class="col-sm-3" ng-if="booking.noOfChildren">Children : {{booking.noOfChildren}}</h5>
        </div> -->
        <table style="font-size: 20px; margin: 20px 20px 20px 20px; background-color: #dddddd;">
            <tr>
                <th>Event name : </th>
                <td>{{booking.event}}</td>
            </tr>
            <tr>
                <th>Type of Seat : &nbsp;</th>
                <td>{{booking.typeOfSeat}}</td>
            </tr>
            <tr ng-if="booking.noOfAdults">
                <th>No of Adults : </th>
                <td>{{booking.noOfAdults}}</td>
            </tr>
            <tr ng-if="booking.noOfChildren">
                <th>No of Children : &nbsp;</th>
                <td>{{booking.noOfChildren}}</td>
            </tr>
            <tr ng-if="booking.noOfChildren" style="border: 1;">
                <th style="border-top: 1px solid black;">Total : &nbsp;</th>
                <td style="border-top: 1px solid black;">TODO</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-5" style="margin: 10px 10px;">
            <label style="font-size: 18px">Card No. / Account No.</label>
            <input class ="form-control" ng-model="cardNumber" type="number" name="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1" style="margin: 10px 10px;">
            <label style="font-size: 18px">Expiry Month</label>
            <input class ="form-control" ng-model="cardMonth" type="number" name="" min="1" max="12">
        </div>
        <div class="col-sm-1" style="margin: 10px 10px;">
            <label style="font-size: 18px">Expiry Year</label>
            <input class ="form-control" ng-model="cardYear" type="number" name=""  min="18" max="35">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1" style="margin: 10px 10px;">
            <label style="font-size: 18px">CVV</label>
            <input class ="form-control" ng-model="cardCvv" type="password" name="">
        </div>
    </div>

    <div>
        <button class="appButton" ng-click="pay()">
            Complete Payment
        </button>
    </div>
</div>

</div>

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>
</body>
</html>