<!DOCTYPE html>
<html lang="en">
<head>
        <title>Event Results</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        <!-- Stylesheets -->
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<script>
var app = angular.module("bookMySport", []);
app.controller("eventController", function($scope,$http) {
  // $scope.events_list = [
  // {"name":"E1","team1":"A","team2":"B","stadium":{"name":"PPG Paints Arena","city": "Pittsburgh"},"event_time" : Date.now()+7000000000},
  // {"name":"E1","team1":"D","team2":"E","stadium":"F","event_time" : Date.now()},
  // {"name":"E1","team1":"G","team2":"H","stadium":"I","event_time" : Date.now()-7000000000},
  // ];

  $scope.buildQuery = function(){
    return "q="+$scope.filter.query+"&c="+$scope.filter.city+"&s="+$scope.filter.stadium+"&sp="+$scope.filter.sport
  };

  $scope.getData = async function(){
    query = await $scope.buildQuery();
    console.log(query);
    await $http({
              method: 'GET',
              url: 'http://localhost:8080/eventList/?'+query
            }).then(function successCallback(response) {
                $scope.events_list = response.data;
              }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
                console.log(response);
              });
  };

  $scope.eventListInit = async function(){
    $scope.filter={};
    $scope.filter.query="";
    $scope.filter.city="";
    $scope.filter.stadium="";
    $scope.filter.sport="";
    $scope.getData();  
  };
});
</script>

<div class="row c_cloud_div" ng-app="bookMySport" ng-controller="eventController" ng-init="eventListInit()">

    <div class = "col-xs-4 col-md-2">
        <div class="col-xs-12 col-md-10 c_concrete_div"  style="left: 15%;">
            <div class="row">
                <label class="col-sm-12" style="text-align: center; background-color: #535c68; color: #ffffff"> Filters </label>
                <!-- <p>Stadium : </p>
                <label ><input type="radio" name="radgroup" value="A" ng-model="filter.stadium">Option A</label>
                <label ><input type="radio" name="radgroup" value="B" ng-model="filter.stadium">Option B</label>
                <label ><input type="radio" name="radgroup" value="C" ng-model="filter.stadium">Option C</label>
                <label ><input type="radio" name="radgroup" value="D" ng-model="filter.stadium">Option D</label>
                <label ><input type="radio" name="radgroup" value="C" ng-model="filter.stadium">Option C</label>
                <label ><input type="radio" name="radgroup" value="D" ng-model="filter.stadium">Option D</label>
                <br/> -->
                <p class="col-sm-12">City : </p>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="pittsburgh"  ng-model="filter.city">Pittsburgh</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="newYork"  ng-model="filter.city">New York</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="philadelphia" ng-model="filter.city">Philadelphia</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="losAngeles" ng-model="filter.city">Los Angeles</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="boston" ng-model="filter.city">Boston</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="chicago" ng-model="filter.city">Chicago</label>
                <br class="col-sm-12"/>
                <p class="col-sm-12">Sport : </p>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="soccer" ng-model="filter.sport">Soccer</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="baseball" ng-model="filter.sport">Baseball</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="cricket" ng-model="filter.sport">Cricket</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="basketball" ng-model="filter.sport">Basketball</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="iceHockey" ng-model="filter.sport">Ice Hockey</label>
                <label class="col-sm-12"><input type="radio" name="radgroup" value="tennis" ng-model="filter.sport">Tennis</label>
                <br/>

                <div class="col-sm-12" style="text-align: center;">
                    <button class="appButton" ng-click="getData()"> Apply </button>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-xs-8 col-md-10">
        <div class="col-xs-12 col-md-11  c_concrete_div" >
            <div ng-repeat="event in events_list" class="event_ticket_div">
                <div class="col-xs-12 col-sm-12 event_font">{{event.name}}</div>
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 event_team_font">{{event.team1}}</div>
                    <div class="col-sm-2 event_team_font">VS</div>
                    <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 event_team_font">{{event.team2}}</div>    
                </div>
                <div class="col-xs-12 col-sm-12 event_font">At : <a href="http://maps.google.com/?q={{event.stadium.name + '' + event.stadium.city}}">{{event.stadiumname}}</a></div>
                <div class="col-xs-12 col-sm-12 event_font">{{event.event_time | date:'yyyy-MMM-dd'}}</div>
                {{event}}                
            </div>
        </div>
    </div>

    
</div>

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>
</body>
</html>

